<section class="bg-main-light rounded-4 shadow ps-3 pb-1 pt-2 mt-5" >
    <div class="row">
        <div class="col-lg-6">
            <img src="./assets/photos/1.webp" alt="الفاتورة الإلكترونية">
        </div>
        <div class="col-lg-6 pe-5 text-end mt-3">
            <h1 class="display-5 fw-bold">الفاتورة الإلكترونية</h1>
            <p class="lead mb-4">تقدم فاتورة إلكترونية سهلة الاستخدام وموثوقة لتلبية احتياجاتك التجارية.</p>
            <a  routerLink="/home" class="btn-main text-center ps-3"><span class="ps-4">ابدأ الآن</span></a>
        </div>
    </div>
</section>
<hr class="border border-3 border-black">
