<section class="bg-main-light shadow p-2 my-2 rounded" dir="rtl">
    <!--class=> text-main is in global style-->
    <h1 class="h2 text-main text-center">إضافة منتج</h1>
    <form [formGroup]="addPeoductForm" (ngSubmit)="addSubmit()" >
        <div class="mb-3">
            <label for="name" class="form-label pe-2 fw-bolder fs-4">إسم المنتج</label>
            <input type="text" [ngClass]="{
                'is-valid':!addPeoductForm.get('name')?.errors &&(addPeoductForm.get('name')?.touched || addPeoductForm.get('name')?.dirty),
                'is-invalid' :addPeoductForm.get('name')?.errors &&(addPeoductForm.get('name')?.touched || addPeoductForm.get('name')?.dirty)}" class="form-control" id="name" placeholder="إسم المنتج" formControlName="name">
      
      @if (addPeoductForm.get('name')?.errors && (addPeoductForm.get('name')?.touched || addPeoductForm.get('name')?.dirty)) 
       {
        <div class="alert alert-danger w-50">
            @if(addPeoductForm.get('name')?.getError('required'))
            { 
                <p class="m-0">إسم المنتج لابد أن يكون موجود</p>
            }
            @else if (addPeoductForm.get('name')?.getError('minlength'))
             {
            <p class="m-0">أقل طول للكلمة هو 3</p>
            }
            @else if (addPeoductForm.get('name')?.getError('maxlength')) 
            {
                <p class="m-0">أكبر طول  للكلمة هو 150</p>
            }
        </div>
       }
        </div>

      <div class="mb-3">
            <label for="code" class="form-label pe-2 fw-bolder fs-4"> كود المنتج</label>
            <input type="text" [ngClass]="{
                'is-valid':!addPeoductForm.get('code')?.errors &&(addPeoductForm.get('code')?.touched || addPeoductForm.get('code')?.dirty),
                'is-invalid' :addPeoductForm.get('code')?.errors &&(addPeoductForm.get('code')?.touched || addPeoductForm.get('code')?.dirty)}" class="form-control" id="code" placeholder="Ex:Cpp-111" formControlName="code">
      
      @if (addPeoductForm.get('code')?.errors && (addPeoductForm.get('code')?.touched || addPeoductForm.get('code')?.dirty)) 
       {
        <div class="alert alert-danger w-50">
            @if(addPeoductForm.get('code')?.getError('required'))
            { 
                <p class="m-0">الكود لابد أن يكون موجود</p>
            }
            @else if (addPeoductForm.get('code')?.getError('minlength'))
             {
            <p class="m-0">أقل طول للكود هو 3</p>
            }
            @else if (addPeoductForm.get('code')?.getError('maxlength')) 
            {
                <p class="m-0">أكبر طول للكود هو 150</p>
            }
        </div>
       }
        </div>

        <div class="row gap-5">
             <div class="col-md-4 mb-3">
            <label for="unitPrice" class="form-label pe-2 fw-bolder fs-4"> السعر</label>
            <input type="number" [ngClass]="{
                'is-valid':!addPeoductForm.get('unitPrice')?.errors &&(addPeoductForm.get('unitPrice')?.touched || addPeoductForm.get('unitPrice')?.dirty),
                'is-invalid' :addPeoductForm.get('unitPrice')?.errors &&(addPeoductForm.get('unitPrice')?.touched || addPeoductForm.get('unitPrice')?.dirty)}" class="form-control" id="unitPrice" placeholder="1" formControlName="unitPrice">
      
      @if (addPeoductForm.get('unitPrice')?.errors && (addPeoductForm.get('unitPrice')?.touched || addPeoductForm.get('unitPrice')?.dirty)) 
       {
        <div class="alert alert-danger ">
            @if(addPeoductForm.get('unitPrice')?.getError('required'))
            { 
                <p class="m-0">السعر لابد أن يكون موجود</p>
            }
            @else if (addPeoductForm.get('unitPrice')?.getError('min'))
             {
            <p class="m-0">السعر يجب أن يكون أكبر من صفر</p>
            }
            
        </div>
       }
        </div>


                     <div class="col-md-4">
            <label for="stockQuantity" class="form-label pe-2 fw-bolder fs-4"> الكمية</label>
            <input type="number" [ngClass]="{
                'is-valid':!addPeoductForm.get('stockQuantity')?.errors &&(addPeoductForm.get('stockQuantity')?.touched || addPeoductForm.get('stockQuantity')?.dirty),
                'is-invalid' :addPeoductForm.get('stockQuantity')?.errors &&(addPeoductForm.get('stockQuantity')?.touched || addPeoductForm.get('stockQuantity')?.dirty)}" class="form-control" id="stockQuantity" placeholder="1" formControlName="stockQuantity">
      
      @if (addPeoductForm.get('stockQuantity')?.errors && (addPeoductForm.get('stockQuantity')?.touched || addPeoductForm.get('stockQuantity')?.dirty)) 
       {
        <div class="alert alert-danger ">
            @if(addPeoductForm.get('stockQuantity')?.getError('required'))
            { 
                <p class="m-0">الكمية لابد أن تكون موجود</p>
            }
            @else if (addPeoductForm.get('stockQuantity')?.getError('min'))
             {
            <p class="m-0">الكمية يجب أن تكون أكبر من أو تساوي صفر</p>
            }
            
        </div>
       }
        </div>
        </div>
      <div class="d-flex justify-content-end align-items-center">
        <button type="submit" class="btn-main ms-2" >إضافة
        </button>

        <a routerLink="/products" class="btn btn-danger ms-2">رجوع </a>

        </div>
    </form>
    </section>  